# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/
.venv/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# OS files
.DS_Store
Thumbs.db

# Test & coverage files
.coverage
htmlcov/

# Logs
*.log

# Temporary files
*.tmp
*.swp
